# Core agentic frameworks
langchain
langgraph
langchain-core
langchain-google-genai
google-generativeai
einops
pickle

# Environment & validation
python-dotenv
pydantic
pyyaml

# Database
psycopg2-binary
sqlalchemy

# Embeddings / HuggingFace
sentence-transformers
huggingface_hub
transformers
numpy

# Notebook & visualization
colorlog
ipython
graphviz
streamlit
snakeviz

# ml models
spacy
xgboost
lightgbm

en_core_web_lg